

body{
    background-color: rgb(119, 38, 38);
    background: rgb(138, 83, 83);
    max-width: 1400px;
    margin: auto;
    text-align: center;
    align-items: center;
}
h1, h3, p, a{
    color:rgb(255, 245, 219);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    }
h1 {font-size: 40px;}
h2 {font-size: 16px;}
h3 {font-size: 25px;}
h4 {font-size: 30px;}
a{font-size: 16px;}
p{margin-left: 200px;
    margin-right: 200px;}






#link1{
    background-color: #fcf7f7;

    padding:20px;
    
    border:2px;
    border-color:#ffffff;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight:700;
    color:#5d5d5d;
    text-align: center;
    text-decoration: none;
    
}
#link1:hover {
    background-color: transparent;
    border-color: transparent;
    
}

.button2 {
    background-color: #707274;
    border-color: #0a245dd5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    position: sticky;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Calibri', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
    font-size: 20px;
}

.button2:hover {
    background-color: transparent;
    border-color: transparent;
}

.button3 {
    background-color: #707274;
    border-color: #0a245dd5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    position: sticky;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Calibri', sans-serif;
    cursor: pointer;
    transition: background-color 1s ease;
}

.button3:hover {
    background-color: transparent;
    border-color: transparent;
}




.chart {
    width: auto;
    margin: auto;
   
}

